main {background-color: $neutral-color-200;}

h1 {
  color: $primary-color-100;
  font-size: medium;
}

p {
  color: $primary-color-200;      
  margin: 20px 0px;
  font-size: 1em;
}

span {
  color: $primary-color-200;
  font-weight: 500;
}

div {
  font-size: 0.8em;
  h1 {font-size: small;}
}