main {
  background-color: $neutral-color-200;
}

section {
  padding: 1.5rem;
}

h1 {
  color: $primary-color-100;
  border: 1px solid black;
}

p {
  color: $primary-color-200;
  margin-right: 55px;         // i left off here, i was working on modifying the contents inside the div.
  border: 1px solid black;
}

div {
  border: 1px solid black;
}

span {
  color: $primary-color-200;
  font-weight: 500;
}

img {
  border: 1px solid black;
}